<section class="mt-10 fit-map">
    <div class="selector">
        <form method="get" asp-controller="fitness" asp-action="index">
            <select name="city" id="" class="" asp-items="ViewBag.City">
                <option selected disabled>City</option>
            
            </select>
            <select name="region" id="" class="" asp-items="ViewBag.Region">
                <option selected disabled>Region</option>
            </select>
            <select name="activity" asp-items="ViewBag.Activity">
                <option selected disabled>Activities</option>            
            </select>
            <select name="package"  asp-items="ViewBag.Package">
                <option selected disabled>Packages</option>
            </select>
            <button id="srcBtn" type="submit">search</button>
        </form>

        
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12155.879368531538!2d49.870646!3d40.387361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d17de5e3d1d%3A0x2da2edf637232eb3!2sRusel%20Plaza!5e0!3m2!1sen!2saz!4v1694428361013!5m2!1sen!2saz" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>