<section id="pricing" class="mt-10 pricingg">
    <div class="howitworks-buttons">
        <a data-class="monthly" href="#" class="active">MONTHLY</a>
        <a data-class="annual" href="#">ANNUAL</a>
    </div>
    <div class="swiper mySwipers mt-5">
   <div class="swiper-wrapper">
    <div class="item monthly swiper-slide" id="slide">
        <div class="card-header">
        <h3>STUDENT</h3>
        </div>
        <div class="card-body">
            <p>Are you between 16 and 25 years old,
                busy studying and do you want
                to relax by doing some sport?
                Then we have a special subscription
                for you.
            </p>
        </div>
<div class="price">
    <span class="unit">PER MONTH</span>
    <span class="price">140₼</span>
</div>
        <div class="card-footer">
            <a href="#">MORE INFORMATION</a>
            <span>* Monthly terminable</span>
        </div>
    </div>
    <div class="item monthly swiper-slide" id="slide">
        <div class="card-header">
        <h3>STUDENT</h3>
        </div>
        <div class="card-body">
            <p>Are you between 16 and 25 years old,
                busy studying and do you want
                to relax by doing some sport?
                Then we have a special subscription
                for you.
            </p>
        </div>
<div class="price">
    <span class="unit">PER MONTH</span>
    <span class="price">150₼</span>
</div>
        <div class="card-footer">
            <a href="#">MORE INFORMATION</a>
            <span>* Monthly terminable</span>
        </div>
    </div>

    <div class="item monthly swiper-slide" id="slide">
        <div class="card-header">
        <h3>STUDENT</h3>
        </div>
        <div class="card-body">
            <p>Are you between 16 and 25 years old,
                busy studying and do you want
                to relax by doing some sport?
                Then we have a special subscription
                for you.
            </p>
        </div>
<div class="price">
    <span class="unit">PER MONTH</span>
    <span class="price">160₼</span>
</div>
        <div class="card-footer">
            <a href="#">MORE INFORMATION</a>
            <span>* Monthly terminable</span>
        </div>
    </div>

    <div class="item monthly swiper-slide" id="slide">
        <div class="card-header">
        <h3>STUDENT</h3>
        </div>
        <div class="card-body">
            <p>Are you between 16 and 25 years old,
                busy studying and do you want
                to relax by doing some sport?
                Then we have a special subscription
                for you.
            </p>
        </div>
<div class="price">
    <span class="unit">PER MONTH</span>
    <span class="price">170₼</span>
</div>
        <div class="card-footer">
            <a href="#">MORE INFORMATION</a>
            <span>* Monthly terminable</span>
        </div>
    </div>

    <div class="item monthly swiper-slide" id="slide">
        <div class="card-header">
        <h3>STUDENT</h3>
        </div>
        <div class="card-body">
            <p>Are you between 16 and 25 years old,
                busy studying and do you want
                to relax by doing some sport?
                Then we have a special subscription
                for you.
            </p>
        </div>
<div class="price">
    <span class="unit">PER MONTH</span>
    <span class="price">180₼</span>
</div>
        <div class="card-footer">
            <a href="#">MORE INFORMATION</a>
            <span>* Monthly terminable</span>
        </div>
    </div>
    </div>
    </div>


    <div class="swiper mySwipers mt-5">
        <div class="swiper-wrapper">
         <div class="item annual swiper-slide" id="slide">
             <div class="card-header">
             <h3>STUDENT</h3>
             </div>
             <div class="card-body">
                 <p>Are you between 16 and 25 years old,
                     busy studying and do you want
                     to relax by doing some sport?
                     Then we have a special subscription
                     for you.
                 </p>
             </div>
     <div class="price">
         <span class="unit">PER MONTH</span>
         <span class="price">170₼</span>
     </div>
             <div class="card-footer">
                 <a href="#">MORE INFORMATION</a>
                 <span>* Monthly terminable</span>
             </div>
         </div>
         <div class="item annual swiper-slide" id="slide">
            <div class="card-header">
            <h3>STUDENT</h3>
            </div>
            <div class="card-body">
                <p>Are you between 16 and 25 years old,
                    busy studying and do you want
                    to relax by doing some sport?
                    Then we have a special subscription
                    for you.
                </p>
            </div>
    <div class="price">
        <span class="unit">PER MONTH</span>
        <span class="price">190₼</span>
    </div>
            <div class="card-footer">
                <a href="#">MORE INFORMATION</a>
                <span>* Monthly terminable</span>
            </div>
        </div>
        <div class="item annual swiper-slide" id="slide">
            <div class="card-header">
            <h3>STUDENT</h3>
            </div>
            <div class="card-body">
                <p>Are you between 16 and 25 years old,
                    busy studying and do you want
                    to relax by doing some sport?
                    Then we have a special subscription
                    for you.
                </p>
            </div>
    <div class="price">
        <span class="unit">PER MONTH</span>
        <span class="price">200₼</span>
    </div>
            <div class="card-footer">
                <a href="#">MORE INFORMATION</a>
                <span>* Monthly terminable</span>
            </div>
        </div>

        <div class="item annual swiper-slide" id="slide">
            <div class="card-header">
            <h3>STUDENT</h3>
            </div>
            <div class="card-body">
                <p>Are you between 16 and 25 years old,
                    busy studying and do you want
                    to relax by doing some sport?
                    Then we have a special subscription
                    for you.
                </p>
            </div>
    <div class="price">
        <span class="unit">PER MONTH</span>
        <span class="price">210₼</span>
    </div>
            <div class="card-footer">
                <a href="#">MORE INFORMATION</a>
                <span>* Monthly terminable</span>
            </div>
        </div>


        <div class="item annual swiper-slide" id="slide">
            <div class="card-header">
            <h3>STUDENT</h3>
            </div>
            <div class="card-body">
                <p>Are you between 16 and 25 years old,
                    busy studying and do you want
                    to relax by doing some sport?
                    Then we have a special subscription
                    for you.
                </p>
            </div>
    <div class="price">
        <span class="unit">PER MONTH</span>
        <span class="price">220₼</span>
    </div>
            <div class="card-footer">
                <a href="#">MORE INFORMATION</a>
                <span>* Monthly terminable</span>
            </div>
        </div>
         </div>
         </div>

</section>