<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assetss/css/style.css">
    <link rel="stylesheet" href="~/assetss/css/responsive.css">
    <title>PUSH30</title>
</head>
<body>
    @await Component.InvokeAsync("Header", new {db =ViewData["db"]})

    <main class="container">
@RenderBody()
    </main>
    @await Component.InvokeAsync("Footer", new {db =ViewData["db"]})

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" 
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/assetss/js/index.js"></script>
    <script src="~/assetss/js/main.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
     
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    var swipers = new Swiper(".mySwipers", {
      slidesPerView: 4,
     
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>
</body>
</html>                    