<section id="howitworks" class="mt-10">
    <div class="howitworks-button">
        <a data-class="partner" href="#" class="active">PARTNER</a>
        <a data-class="student" href="#">STUDENT</a>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="item partner swiper-slide">
                <h4>01</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>02</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>03</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>04</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>05</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>06</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>07</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item partner swiper-slide">
                <h4>08</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">


            <div class="item student swiper-slide">
                <h4>11</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>02</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>03</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>04</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>05</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>06</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>07</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
            <div class="item student swiper-slide">
                <h4>08</h4>
                <ul>
                    <li>Your company signs a contract with us.</li>
                    <li>No payment is required for the contract</li>
                    <li>Budget assignment from 0 to 100%</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-10 for-signIn" style="background: url(/assetss/img/image\ 8.png); background-repeat: no-repeat; background-size: cover;">
        <div class="costumer">
            <a href="#">BECOME A MEMBER</a>
            <span>or</span>
            <a href="#">BECOME A PARTNER</a>
        </div>
    </div>
</section>