    <section id="home">
 <div>
    <h1 class="slogan">#PUSHYOURLIMITS</h1> 
    <span class="slogan2"> 
     Unlimited entrance to more than <span class="gym-count">100 fitness centers</span> in one subscription
    </span>
 </div>
<div class="banner ">
    <div class="banner-image" style="background: url(/assetss/img/Rectangle36.png);background-size: cover; background-position: center;">

    </div>     
    <div class="costumer">
      <a href="#">BECOME A MEMBER</a>
      <span>or</span>
      <a href="#">BECOME A PARTNER</a>
    </div>
</div>
     </section>
