@{
    ViewData["Title"] = "Fittnes Centers";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="push_style.css">
    <link rel="stylesheet" href="./relat.css">
    <title>Document</title>
</head>
<body>
    <a href="#" class="burger"><i class="fa-solid fa-layer-group"></i></a>
    <header class="d-flex justify-between align-center container bg-black border-bottom">
        <div class="d-flex align-center">
            <div class="logo-div">
                <img src="./Group.png">
            </div>
            <nav class="menu-nav">

                <ul class="d-flex">
                    <li><a href="#" class="active">HOME</a></li>
                    <li><a href="#">ACTIVITES</a></li>
                    <li><a href="#">FITNESS CENTERS</a></li>
                    <li><a href="#">DISCOUNT PARTNERS</a></li>
                    <li><a href="#">HOW IT WORKS</a></li>
                    <li><a href="#">PRICING</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="d-flex">
            <a href="#" class="btn-green-bold">LOGIN</a>
            <select name="" id="" class="btn-green-bold">
                <option selected disabled>COUNTRY:</option>
                <option value="az" selected>AZ</option>
                <option value="ru">RU</option>
                <option value="gb">TR</option>
                <option value="tr">GB</option>
                <option value="global">GLOBAL</option>
            </select>
            <select name="" id="" class="btn-green-bold">
                <option selected disabled>LANGUAGE:</option>
                <option value="az" selected>AZ</option>
                <option value="ru">RU</option>
                <option value="gb">TR</option>
                <option value="tr">GB</option>
                <option value="global">GLOBAL</option>
            </select>
        </div>
    </header>

    <main class="container">
        <section class="mt-10 first">
            <div class="d-flex calltoaction">
                <h2>#PUSHYOURLIMITS</h2>
                <p>Unlimited entrance to more <span style="color: #6efaaa;">100 fitness centers</span> in one subscription</p>
            </div>
        </section>
        <section class="mt-10 fit-map">
            <div class="selector">
                <select name="" id="" class="">
                    <option selected disabled>City</option>
                    <option value="Baki">Baki</option>
                </select>
                <select name="" id="" class="">
                    <option selected disabled>Region</option>
                    <option value="Xatai">Xatai</option>
                </select>
                <select name="" id="" class="">
                    <option selected disabled>Activities</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Footbal">Footbal</option>
                </select>
                <select name="" id="" class="">
                    <option selected disabled>Woman Hours</option>
                    <option value="Monday">Monday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <select name="" id="" class="">
                    <option selected disabled>Package Types</option>
                    <option value="Student">Student</option>
                    <option value="Standart">Standart</option>
                </select>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12155.879368531538!2d49.870646!3d40.387361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d17de5e3d1d%3A0x2da2edf637232eb3!2sRusel%20Plaza!5e0!3m2!1sen!2saz!4v1694428361013!5m2!1sen!2saz" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section class="mt-10 fit-centers d-flex">
            <div class="d-flex justify-between w-100 calltoaction">
                <h2 class="">FITNESS CENTERS</h2>
                <a href="#" class="active seeall">see all</a>
            </div>
            <div class="centers mt-5 d-flex justify-between">
                <div class="center">
                    <div class="bg-img d-flex" style="background-image: url(./image\ 9.png); background-size: contain; background-repeat: no-repeat;">
                        <div class="km">1.2 km <span>near you</span></div>
                        <div>JV FITNESS</div>
                    </div>
                    <div class="w-100 d-flex center-package justify-between">
                        <span>Student</span>
                        <span class="active-green">Standart</span>
                        <span>Advanced</span>
                        <span>Plus</span>
                        <span>Premium</span>
                    </div>
                </div>
                <div class="center">
                    <div class="bg-img d-flex" style="background-image: url(./Rectangle\ 24.png); background-size: contain; background-repeat: no-repeat;">
                        <div class="km">1.2 km <span>near you</span></div>
                        <div>JV FITNESS</div>
                    </div>
                    <div class="w-100 d-flex center-package justify-between">
                        <span>Student</span>
                        <span class="active-green">Standart</span>
                        <span>Advanced</span>
                        <span>Plus</span>
                        <span>Premium</span>
                    </div>
                </div>
                <div class="center">
                    <div class="bg-img d-flex" style="background-image: url(./Rectangle\ 25.png); background-size: contain; background-repeat: no-repeat;">
                        <div class="km">1.2 km <span>near you</span></div>
                        <div>JV FITNESS</div>
                    </div>
                    <div class="w-100 d-flex center-package justify-between">
                        <span>Student</span>
                        <span class="active-green">Standart</span>
                        <span>Advanced</span>
                        <span>Plus</span>
                        <span>Premium</span>
                    </div>
                </div>
                <div class="center">
                    <div class="bg-img d-flex" style="background-image: url(./Rectangle\ 26.png); background-size: contain; background-repeat: no-repeat;">
                        <div class="km">1.2 km <span>near you</span></div>
                        <div>JV FITNESS</div>
                    </div>
                    <div class="w-100 d-flex center-package justify-between">
                        <span>Student</span>
                        <span class="active-green">Standart</span>
                        <span>Advanced</span>
                        <span>Plus</span>
                        <span>Premium</span>
                    </div>
                </div>


            </div>
        </section>
    </main>

    <footer class="container foot mt-10 d-flex justify-between">
        <div class="d-flex calltoaction">
            <h2>#PUSHYOURLIMITS</h2>
        </div>
        <div class="d-flex justify-between">
            <form>
                <p>
                    <input type="email" name="q" placeholder="Email" class="s-email">
                    <input type="submit" value="OK" class="e-ok col-white">
                </p>
            </form>
            <nav>
                <ul class="d-flex">
                    <li><a href="#" class="active">instagram</a></li>
                    <li><a href="#">whatsapp</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">linkedin</a></li>
                    <li><a href="#">telegram</a></li>
                    <li><a href="#">youtube</a></li>
                </ul>
            </nav>
        </div>
        <div class="mt-5 d-flex justify-between">
            <div class="d-flex justify-between info">
                <div class="visitcard">
                    <p>*3033</p>
                    <p>+994 50 555 30 30</p>
                    <p>support@push30.az</p>
                </div>
                <div class=" quest-answ">
                    <p><a href="#">Who are we?</a></p>
                    <p><a href="#">What do we do?</a></p>
                </div>
                <div class=" quest-answ">
                    <p><a href="#">FAQ</a></p>
                    <p><a href="#">Contact</a></p>
                    <p><a href="#">Download</a></p>
                </div>
            </div>

            <div class="foot-img">
                <img src="./Group.png">
            </div>
        </div>
        <div class="d-flex justify-center mt-5">
            <img src="./We’re always looking for new friends.png" alt="">
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            $('.burger').click(function (e) {
                e.preventDefault();
                $('.menu-nav').toggleClass('active');
                $('.burger').toggleClass('active');
                var result = $('.burger').hasClass('active');

                if (result == true) {
                    setTimeout(function () {
                        $('.burger').html('<i class="fa-solid fa-xmark"></i>')
                    }, 620);
                }
                else {
                    setTimeout(function () {
                        $('.burger').html('<i class="fa-solid fa-layer-group"></i>')
                    }, 620);

                }
            });

        })
    </script>
</body>
</html>
